h1
{
color: white;
text-decoration: underline;
text-align: center;
font-size: 55px;
}

p
{
color: white;
text-align: center;
font-size: 22px;
}

.salutations
{
color: white;
}

*
{
color:blue;
}

h2
{
text-align: center;
font-size: xx-large;
text-decoration: blink;
}

body
{
background-image: url("bright.png");
background-repeat: no-repeat;
background-attachement: fixed;
background-position: middle;
border: 5px white double;
}

